* {
	margin: 0;
	font-size: 110%;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

 /* Стили для блоков */
header {
	margin: 2.5rem 2.5rem 0rem 2.5rem;
	padding: 2.5rem 2.5rem 0rem 2.5rem;
}

body {
	display: flex;
    flex-direction: column;
	min-height: 100vh;
}

nav {
	display: flex;
	flex-wrap: wrap;
	padding: 2.5rem 0rem;
	font-weight: bold;
	margin: 0 -15px;
}

nav a {
	text-decoration: none;
	color: #333;
	margin: 0 15px;
}

main {
	margin: 0rem 2.5rem 2.5rem 2.5rem;
	padding: 0rem 2.5rem;
}

footer {
	background-color: black;
	color: aliceblue;
	padding: 2.5rem 5rem;
	margin-top: auto;
}

h1 {
	font-size: 150%;
}

/* Для картинок блюд/напитков */
.img_card {
	width: 18.5rem;
	height: 18.5rem;
	border-radius: 2rem;
	margin: 0;
	margin-bottom: 0.5rem;
}

/* Контейнер для карточек */
.cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	/* justify-content: space-between; */
	gap: 10px;
	margin-bottom: 2.5rem;
	width: 100%;
}

/* Карточки */
.card {
	padding-top: 2.5rem;
	padding-left: 3rem;
	padding-right: 3rem;
	width: 24.5rem;
	height: 35.5rem;
	border-radius: 3rem;
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
	background-color: white;
	font-size: 1.2rem;
	position: relative;
	border: 2px solid transparent;
}

/* Надпись вес/объемы */
.weight {
	color: #858383;
    margin-bottom: 0.5rem;
}

/* Кнопка добавить */
.button-arounder {
	color: black;
	text-align: center;
    background-color: #f1eee9;
	border-radius: 1.5rem;
	width: 100%;
  	height: 3.5rem;
	border-width: 0;
	cursor: pointer; /* Меняем курсор при наведении */
}

/* Для дива внутри карточек куда входит вес/объем и кнопка "Добавить" */
.entire_div {
	position: absolute;
  	bottom: 0;
	margin-bottom: 2.5rem;
	width: 18.5rem;
}

h2:first-child{
    padding-bottom: 2.5rem;
}

@media (hover :hover){
	a:hover {
		color: tomato;
	}
	
	.card:hover {
		border: 2px solid tomato;
		.button-arounder{
			background-color: #b9b8b8;
		}
	}
}

@media (hover :none) {
	a:active {
		color: tomato;
	}
	
	.card:active {
		border: 2px solid tomato;
		.button-arounder{
			background-color: #b9b8b8;
		}
	}
}

a:nth-child(2) {
	color: tomato;
}

.form-block {
	display: grid;
	grid-template-columns: 45% 45%;
	width: 85%;
	justify-content: space-between;
	margin: auto;
	font-size: 1rem;
}

/* .order-block, .client-info-block {
    margin-bottom: 20px;
} */
form div p {
	font-weight: bold;
	margin-bottom: 1.5rem;
}


select, input, textarea {
	height: 3rem;
    width: 100%;
    padding: 0.5rem;
	margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    border: 2px solid #949494;
	border-radius: 3px;
}

.button {
    /* padding: 10px 20px; */
	height: 2.5rem;
	background-color: #f1eee9;
    color: black;
    cursor: pointer;
	border: 2px solid black;
}

.button_block {
	display: grid;
	grid-template-columns: 48% 48%;
	justify-content: space-between;
}

button:hover {
    background-color: #b9b8b8;
}

section:last-child h2 {
	text-align: center;
}

.choose {
	height: auto;
	margin: 0.2rem;
	width: auto;
}

.comment {
	height: 8rem;
}

.p_deliver {
	font-size: 0.9rem;
	font-weight: normal;
	margin-bottom: 1rem;
}

.second_input{
	margin-bottom: 0;
}


.hidden{
	display: none;
}
/* Когда ширина экрана <= 800 */
@media (max-width: 800px) {
	* {
		font-size: 100%;
	}
	header {
		margin: 1.5rem 1.5rem 0rem 1.5rem;
	}

	main {
		margin: 0rem 1.5rem 1.5rem 1.5rem;
	}

	footer {
		padding: 1.5rem 4rem;
	}

	.card {
		padding-top: 1.2rem;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
		width: 12.7rem;
		height: 19.5rem;
		border-radius: 2rem;
		font-size: 83%;
	}

	.img_card {
		width: 9.5rem;
		height: 9.5rem;
		border-radius: 1.5rem;
		margin-bottom: 0.1rem;
	}

	.entire_div {
		margin-bottom: 1.2rem;
		width: 9.5rem;
	}

	.button-arounder {
		height: 2rem;
		border-radius: 0.8rem;
	}

	.weight {
		margin-bottom: 0.3rem;
	}

	.form-block {
		width: 70%;
		display: block;
	}
}


/* Когда ширина экрана <= 600 */
@media (max-width: 600px) {
	section h2 {
		text-align: center;
	}

	* {
		font-size: 97%;
	}

	.cards{
		margin-bottom: 2rem;
	}

	h2:first-child{
		padding-bottom: 2rem;
	}

	nav {
		padding: 2rem 0rem;
	}
	
	header {
		padding: 2rem 2rem 0rem 2rem;
	}

	main {
		padding: 0rem 2rem;
	}

	footer {
		padding: 1.5rem 3.5rem;
	}

	.card {
        padding-top: 0.9rem;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        width: 9.7rem;
        height: 14.5rem;
        border-radius: 1.5rem;
        font-size: 73%;
    }

	.img_card {
		width: 7.1rem;
		height: 7.1rem;
		border-radius: 1.2rem;
		margin-bottom: 0.1rem;
	}

	.entire_div {
		margin-bottom: 0.9rem;
		width: 7.1rem;
	}

	.weight {
		margin-bottom: 0.2rem;
	}

	.button-arounder {
		height: 1.5rem;
		border-radius: 0.6rem;
	}

	.card:hover {
		border: 1px solid tomato;
	}

	.form-block {
		width: 90%;
	}
}



