* {
	margin: 0;
	font-size: 110%;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

 /* Стили для блоков */
header {
	margin: 2.5rem 2.5rem 0rem 2.5rem;
	padding: 2.5rem 2.5rem 0rem 2.5rem;
  }

nav, h2 {
	padding: 2.5rem 0rem;
	font-weight: bold;
}

main {
	margin: 0rem 2.5rem 2.5rem 2.5rem;
	padding: 0rem 2.5rem;
}

#contact {
	background-color: black;
	color: aliceblue;
	padding: 2.5rem 5rem;
}
 
/* Стили для изображений */
img {
	width: auto;
	height: auto;
	border-radius: 5px;
}

/* Стили для таблиц */
table, th, td {
	font-size: 100%;
	padding: 5px;
	border: 0.5px solid #151515;
	border-collapse: collapse;
	text-align: center;
}

/* Стили для ссылок */
a {
	text-decoration: none;
	color: #333;
	padding-right: 1.25rem;
}

a:hover {
	color: #c00;
}

h1 {
	font-size: 150%;
}

.block {
	width: 1240px;
	margin-left: auto;
	margin-right: auto;
}