* {
	margin: 0;
	font-size: 1.07em;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

 /* Стили для блоков */
header {
	margin: 3% 3% 0% 3%;
	padding: 3% 3% 0% 3%;
  }

nav, h2 {
	padding: 3% 0% 3% 0%;
	font-weight: bold;
}

main {
	margin: 0% 3% 3% 3%;
	padding: 0% 3% 0% 3%;
}

#contact {
	background-color: black;
	color: aliceblue;
	padding: 3% 6% 3% 6%;
}
 
/* Стили для изображений */
img {
	width: 100%;
	height: auto;
}

/* Стили для таблиц */
table, th, td {
	font-size: 100%;
	padding: 5px;
	border: 0.5px solid #151515;
	border-collapse: collapse;
	text-align: center;
}

/* Стили для ссылок */
a {
	text-decoration: none;
	color: #333;
	padding-right: 1.5%;
}

a:hover {
	color: #c00;
}

h1 {
	font-size: 150%;
}
